.container {
  padding-top: 176px;
  min-height: 100vh;
}

.title {
  width: 720px;
  max-width: 95%;
}

.divider {
  height: 1px;
  width: 960px;
  max-width: 95%;
  background: #ebebeb;
}

.nft-image {
  height: 160px;
  width: 160px;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}
