.section {
  width: 100%;
  height: calc(100vh);
  display: flex;
}

.section-dark {
  background: #1F1F1F;
  color: white;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text > * {
  width: 100%;
  max-width: 360px;
}

.text > .logo {
  text-align: center;
}

.image {
  width: 50%;
  position: relative;
  background: lightgray;
}
